@media (max-width: 1000px) {
	.section-one {
		flex-direction: column;
		align-items: center;
		margin-top: 150px;
	}
	.button {
		margin-bottom: 40px;
		justify-content: center;
	}
	.heading {
		max-width: 800px;
		text-align: center;
		margin: 0 auto;
	}
	.section-two-box {
		width: 48%;
		margin-left: auto;
		margin-right: auto;
	}
	.box3,
	.box6 {
		margin-top: 30px;
	}
	.line-two {
		margin-top: 0px;
	}
}
	
@media (max-width: 900px) {
	.nav-flex {
		width: 100%;
	}
	.button {
		margin-top: 70px;
		margin-left: auto;
		margin-right: auto;
	}
	.line-two {
		margin-bottom: 30px;
	}
}
@media (max-width: 750px) {
	.navigation {
		display: none;
	}
	.burger {
		display: block;
	}
}

@media (max-width: 600px) {
	.section-two-box {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.box2,
	.box4,
	.box5 {
		margin-top: 30px;
	}
	h1 {
		font-size: 45px;
	}
	h5 {
		font-size: 14px;
	}
}
	
@media (max-width: 425px) {
	.section-two-box {
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}
}
	